GROQ_API_KEY= TYPE GROQ_API_KEY here #TYPE GROQ_API_KEY here
GROQ_MODEL=openai/gpt-oss-120b

TAVILY_API_KEY=TYPE TAVILY_API_KEY here #TYPE TAVILY_API_KEY here

APP_ENV=development
ACTIVE_MODEL_VERSION=v1