# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables
.env

# Test cache
.pytest_cache/

# Streamlit cache
.streamlit/secrets.toml

.venv/
__pycache__/
*.pyc
.pytest_cache/
.streamlit/